body{
    counter-reset: water-type;
}
.water{
    background-color: black;
    color:aliceblue;
}
.water::before{
counter-increment: water-type;
content:counter(water-type)

}
.water::after{
          content:close-quote;
        height: 20px;
        width: 20px;
    }