body{
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #e7d39f;
    gap: 12px;
    color:antiquewhite;
}
.rect{
    width:200px;
    height:80px;
    background-color: #522d5b;
    text-align: center;
}
.rounded{
    width: 200px;
    height: 200px;
    background-color: #522d5b;
    border-radius: 10px;
    text-align: center;
}
.elliptical{
    border-top-left-radius: 100px 100px;
}
.varied{
    border-radius: 20px 20px 2rem 10%;
}
.circle{
    border-radius: 50%;
}
.blob{
    border-radius: 63px 40px 200px 10px / 21px 65px 73px 75px;
}
.flag{
width: 100px;
height: 100px;
background-color: blue;

}
.notched::before{
    content:"";
    width:40px;
    margin-left: -75px;
    height:40px;
    background-color: #000;
    position:absolute;
    border-top-left-radius: 40px;
    transform:rotate(180deg);
}

.inverted-radius {
    --r: 25px; /* the radius */
    --s: 40px; /* the size of the corner*/
    
    width: 250px;
    aspect-ratio: 1;
    background: #3FB8AF;
    border-radius: var(--r);
    --_m:/calc(2*var(--r)) calc(2*var(--r))
      radial-gradient(#000 70%,#0000 72%) no-repeat;
    mask:
      right calc(var(--s) + var(--r)) top 0 var(--_m),
      right calc(var(--s) + var(--r)) var(--_m),
      radial-gradient(var(--s) at 100% 0,#0000 99%,#000 101%) 
       calc(-1*var(--r)) var(--r) no-repeat,
      conic-gradient(at calc(100% - var(--s) - 2*var(--r)) calc(var(--s) + 2*var(--r)),
       #0000 25%,#000 0);
  }